
  @font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rubik", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    background: #E5E5E5;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/*HEADER*/

.header {
    display: flex;
    color: #000000;
    background: #FFE17F;
    width: 1440px;
    margin: 0 auto;
    flex-direction: column;
}

/*NAVIGATION*/

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.navigation__container {
    padding: 0 60px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}
/*navigation-top*/

.navigation__top-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.navigation-top-wrapper__list:nth-last-child(-n+2) {
    justify-content: flex-end;
}
.navigation-top-wrapper__list, 
.navigation-bottom-wrapper__list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap; 
    padding-left: 0;
}

.navigation-top-wrapper__list {
    padding: 0;
    align-items: flex-start;
    width: 50%;
    margin: 0;
}
.navigation-top-wrapper__link {
    display: block;
    font-family: "Rubik", sans-serif;
    color: #000000;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation-top-wrapper__item {
    display: flex;
    padding-bottom: 8px;
    padding-top: 8px;
}

.navigation-top-wrapper__search-text {
    display: flex;
    width: 50%;
    padding-right: 26px;
    height: 40px;
    text-align: center;
}

.navigation-top-wrapper__item--login {
    margin-right: auto; 
    align-items: center;
    justify-content: flex-start;
    min-width: 231px;
    margin-top: 0;
}

.navigation-top-wrapper-item__image--login {
    margin-right: 12px;
    margin-left: 0;
}

.navigation-top-wrapper__item--compare {
    margin-right: 18px;
    align-items: center;
    min-width: 107px;
    margin-top: 0;
}

.navigation-top-wrapper-item__image--compare {
    margin-right: 12px;
}

.navigation-top-wrapper__item--shopping-cart {
    margin-right: 12px;
    align-items: center;
    min-width: 98px;
    margin-top: 0;
    margin-right: 0;
}

.navigation-top-wrapper-item__image--shopping-cart {
    margin-right: 13px;
    margin-top: 0;
}

/*navigation-bottom*/

.navigation__bottom-wrapper {
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 100%;
}

.navigation-bottom-wrapper__list {
    width: 100%;
}

.navigation-bottom-wrapper__list:nth-last-child(-n+3) {
    flex-grow: 1;
}


.navigation-top-wrapper__button {
    width: 160px;
}

.field {
    width: 100%;
}


.navigation-bottom-wrapper__item .navigation-bottom-wrapper__item--catalog {
    display: flex;
}

.navigation-bottom-wrapper__link--text{
    display: flex;
    align-items: center;
    margin-right: 14px;
    min-width: 236px;
}

.navigation-bottom-wrapper__link--image {
    display: flex;
    align-items: center;
    position: absolute;
}

.navigation-bottom-wrapper__item--delivery {
    display: flex;
    padding-right: 24px;
    padding-left: 24px;
    margin-left: auto;
}

.navigation-bottom-wrapper__item--guarantee {
    display: flex;
    padding-right: 24px;
    padding-left: 24px;
}

.navigation-bottom-wrapper__item--contacts {
    display: flex;
    margin-right: 0;
    padding-left: 24px;
}

.navigation-bottom-wrapper__link {
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-weight: 800;
    line-height: 21px;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0.2em;
}
 
/*PAGE*/

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 1440px;
    background-color: #FFFFFF;
  }

.container {
    margin: 0 auto;
    max-width: 1160px;
}

.wrapper {
    display: flex;
}

.main__container {
    display: flex;
    flex-direction: column;
    width: 1160px;
    margin: 0 auto;
  }

  .container-top {
    display: flex;
    flex-direction: column;
    width: 1160px;
    margin: 0 auto;
}

 /*slider*/

 .main__slider {   
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
 }

.main-slider-item__wrapper {
    display: flex;
    justify-content: center;
}

.main-slider__list {
    padding-left: 0;
    list-style-type: none;
}

.main-slider__item {
    list-style-type: none;
    padding-left: 0;
}

.main-slider__button {
    width: 20px;
    height: 60px;
}

.slider-pagination-button {
    display: none;
}

.main-slider__button {
    display: none;
}

.main-slider-item-wrapper__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 40px;
    margin-bottom: 38px;
    height: 560px;
    text-align: left;
}

.main-slider-item-wrapper__description--big {
    display: flex;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    color: #000000;
    font-size: 50px;
    line-height: 50px;
    text-align: left;
}

.main-slider-item-wrapper__description--small {
    flex-direction: row;
    text-align: left;
}

.main-slider-item-wrapper-description__link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    color: #000000;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    display: flex;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 59px;
    margin-top: 61px;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 6px;
    padding-left: 6px;
}

.main-slider-item-wrapper__advantages {
    display: flex;
    text-align: left;
}

.main-slider-pagination__list {
    display: flex;
    list-style-type: none;
    justify-content: right;
} 

.main-slider-item-wrapper-advantages__list {
    display: flex;
    list-style-type: none;
}

.main-slider-item-wrapper-advantages__item--range {
    display: flex;
    justify-content: space-around;
    font-weight: normal;
    font-size: 36px;
    line-height: 30px;
    color: #000000;;
}

.main-slider-item-wrapper-advantages__item main-slider-item-wrapper-advantages__item--range-description {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #444444;
}

.main-slider-item-wrapper-advantages__item {
    margin-bottom: 12px;
}

.slider-pagination-button {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    color: #000000;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.main__catalog-container {
    max-width: 1160px;
    padding-left: 0;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 70px;
}

.main-catalog__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0;
}

.main-catalog-list__item {
    display: flex;
    justify-content: center;
    margin-right: 40px;
}

.main-catalog__list:nth-last-child {
    margin-right: 0;
}

.main-catalog-item__link {
    color:#000000;
}

.main__services {
    display: flex;
    background-color: #F0F0F0;
}

.main-services__list {
    padding-left: 0;
    text-align: left;
    list-style-type: none;
    text-decoration: none;
    width: 280px;
    border-right: 7px solid #000000;
}

.main-services-tablist__tittle  {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    text-align: left;
}

.main-services-list__item--delivery {
    margin-top: 64px;
    margin-bottom: 35px;
}

.main-services-list__item--guarantee {
    margin-bottom: 35px;
}

.main-services-list__item--credit {
    margin-bottom: 35px;
}

.main-services-list-item__link {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 4px;
    padding-left: 4px;
    text-decoration: none;
}

.main-services__tablist {
   display: flex; 
   flex-direction: column;
}

.main-services__tablist-container {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.main-services__tablist-container-left {
    width: 448px;
    margin-left: 116px;
    margin-bottom: 145px;
}

.main-services__tablist-container-image {
    text-align: right;
    position: absolute;
}

.main-services__tablist--guarantee,
.main-services__tablist--credit {
    display: none;
}

.main__button {
    padding: 0 60px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.main-button__image {
    margin-top: 35px;
    margin-bottom: 34px;
}

.main-button__text {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.main__button--delivery {
    display: flex;
    margin-top: 70px;
    margin-bottom: 70px;
    min-width: 1160px;
    text-align: center;
    height: 100px;
}

.main-button__text {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    color: #000000;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
}

.main__bottom-description {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 70px;
}

.main-bottom-description__title {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;

}

.main-bottom-description__left-column,
.main-bottom-description__right-column {
    border-top: 7px solid black;
}

.main-bottom-description__title-small {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #444444;
}

.main-bottom-description__left-column {
  display: flex;
  flex-direction: column;
  width: 520px; 
  margin-right: 108px;
  text-align: left;
}

.main-bottom-description__item--mel-lines {
    margin-top: 30px;
}

.main-bottom-description__item--sdek {
    margin-top: 19px;
    margin-right: 340px;
}

.main-bottom-description__item--tox-berry {
    margin-top: 19px;
    margin-right: 340px;
    margin-bottom: 30px;
}

.main-bottom-description__right-column {
    display: flex;
    width: 520px; 
    text-align: left;
    flex-direction: column;
}

.main-bottom-description__list--companies {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    margin-top: 19px;
    padding-left: 0;
}

.main-bottom-description__link {
    display: flex;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    color: #000000;
    text-align: left;
    text-decoration: none;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 6px;
    padding-left: 6px;
}

.main__newsletter {
    display: flex;
    background: #F0F0F0;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    text-align: left;
    padding: 0 60px;
    box-sizing: border-box;
}

.main-newsletter__container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.main-newsletter__title {
    text-align: left;
    margin-right: 252px;
    margin-top: 64px;
}

.main-newsletter__description {
    margin-top: 74px;
    min-width: 560px;
}

.main-newsletter__wrapper-right {
    display: flex;
    align-items: center;

}

.main-newsletter__form {
    margin-top: 144px;
    margin-bottom: 56px;
}

.field-bottom {
    width: 557px;
    height: 55px;
    border-bottom: 3px solid #C4C4C4;
}

.main-newsletter__button {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 39px;
    padding-right: 39px;
    border: 3px solid #C4C4C4;
}

.main-bottom-description__text {
    font-family: "Rubik";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    text-align: left;
}

.main-newsletter__title{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    display: flex;
    text-align: left;
    margin-top: 64px;
}

.main-newsletter__wrapper {
    display: flex;
}

.main-newsletter__free{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    margin-bottom: 70px;
    margin-left: 190px;
    margin-top: 158px;
}

/*FOOTER*/

footer {
    display: flex;
    background-color: #444444;
    width: 1440px;
    margin: 0 auto;
}

.footer__container{
    display: flex;
    padding: 0 60px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.footer__column--start {
    display: flex;
    width: 234px;
    margin-right: 117px;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.footer__logo {
    margin-top: 62px;
}

.footer__address{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 64px;
    margin-top: 35px;
}

.footer__column--center{
    display: flex;
    font-family: "Raleway", sans-serif;
    color: #FFFFFF;
    font-weight: 800;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 444px;
    font-size: 18px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.footer-advantages__list,
.footer-social__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.footer-advantages__list {
    padding-left: 0;
    margin: auto;
}

.footer-advantages-list__item--delivery,
.footer-advantages-list__item--guarantee {
    margin-right: 35px;
}

.footer__column--end{
    display: flex;
    width: 175px;
    margin-left: auto;
    max-width: 190px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #FFFFFF;
    text-decoration: none;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 140px;
}

.footer__tel {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
}

.footer__logo--html-academy {
    margin: auto;
    margin-top: 63px;
    text-align: right;
}

/*CATALOG*/

.main-inner {
    width: 1440px;
}

.main-inner__catalog-wrapper {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    list-style-type: none;

}

.main-inner__container {
    display: flex;
}

/*inner-header*/

.main-inner-header__title {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    color: #000000;
    font-size: 50px;
    line-height: 50px;
}

.main-inner__catalog-wrapper {
    display: flex;
}

.main-inner-header-list__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.main-inner-catalog-wrapper__left-column {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-right: 60px;

}

.main-inner-catalog-filter-group__title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
}

.main-inner-catalog-filter-group__list {
    list-style-type: none;
    padding-left: 0;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.main-inner-catalog-filter-group-list__item {
    margin-bottom: 18px;
}

.main-inner-catalog-filter-group__list:nth-child(1) {
    margin-top: 21px;
}

.main-inner-catalog-filter-group__list:nth-last-child {
    margin-bottom: 36px;
}

.main-inner-catalog-filter-group__title--Bluetooth {
    margin-top: 12px;
}

.main-inner-catalog-filter-group__list {
    padding-left: 0;
    list-style-type: none;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.main-inner-catalog-filter-group-list__item:nth-child(1) {
    margin-bottom: 21px;
    margin-top: 20px;
}

.main-inner-catalog-filter-group-list__item:nth-last-child {
    margin-bottom: 46px;
}

.main-inner-catalog-filter-form__button-show {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    color: #000000;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 46px;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding-right: 6px;
    padding-left: 6px;
    text-align: center;
}

.main-inner-catalog-filter__title {
    text-align: left;
    margin-left: 40px;
    margin-top: 26px;
    margin-bottom: 26px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    line-height: 19px;
    letter-spacing: 0.2em;
    color: black;

}

.main-inner__catalog-items {
    width: 100%;
}

.right-column__container {
    display: flex;
}

.main-inner-catalog-wrapper__right-column {
    text-transform: uppercase;
    display: flex;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    color: #000000;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    width: 840px;
    text-align: right;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-cards__container {
    background-color: #FFFFFF;
}

.main-inner-catalog-filter-group-list-item__control {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.main-inner-catalog-filter__form {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    color: #000000;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.main-inner-catalog-items__select-control {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    justify-content: center;
    margin-left: 197px;
    min-width: 160px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-inner__slider-button {
    display: flex;
    justify-content: flex-end;
    margin-left: 217px;
    align-items: center;
}

.product-cards__item {
    max-width: 360px;
    margin-left: 40px;
}

.product-cards {
    display: grid;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 0px;
    margin-right: 40px;
}

.product-cards__link {
    text-decoration: none;
}

.product-cards li:nth-child(-n+2) {
    margin-top: 70px;
}

.product-cards li:nth-last-child(-n+2) {
    margin-top: 40px;
}

.product-cards-list__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;  
    letter-spacing: -0.02em;
    color: #000000;
    text-decoration: none;
    margin-top: 32px;
    text-align: left;
    font-family: "Rubik";
    font-style: normal;
    text-decoration: none;
    text-transform: none;
}

.product-cards-list__cost {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: #444444;
    margin-top: 32px;
    font-family: Rubik;
    font-style: normal;
    text-align: right;
}

.product-cards__list {
    display: flex;
    align-items: center;
}


.main-inner__button-download {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    color: #000000;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    min-width: 760px;
    height: 55px;
    margin-top: 44px;
    margin-bottom: 44px;
    margin-right: auto;
    margin-left: auto;
}

.button-download__text {
    margin: 18px 295px 18px 295px;
}